<p>page2 works!</p>

<button id="btn" (click)="getUsers()">get all users</button>
<br />
<input id="full" type="checkbox" [(ngModel)]="isShowFullInfo" /> show full info
<br />
<input
  type="number"
  placeholder="how many users to display?"
  [(ngModel)]="usersAmount"
/>

<ng-container *ngIf="users?.length">
  <div *ngFor="let user of users" class="user">
    {{ user.id }} - {{ user.name }}
    <ul *ngIf="isShowFullInfo">
      <li>email: {{ user.email }}</li>
      <li>city: {{ user.address.city }}</li>
      <li>zipcode: {{ user.address.zipcode }}</li>
    </ul>
  </div>
</ng-container>
